<% provide(:title, 'ユーザー一覧') %>
<div class="user-container">
  <h3 class="page-title">ユーザー一覧</h3>
  <% @users.each do |user| %>
  <table>
    <tr>
      <td class="td-user-icon">
        <% if user.image? %>
          <%= image_tag user.image.thumb.url, size: "80",  class: "user-icon" %>
        <% else %>
          <%= image_tag "default.jpg", alt: "user-icon", size: "80", class: "user-icon" %>
        <% end %>
      </td>
      <td class="td-user-name">
        <%= link_to user.name , user, class: "index-user-name" %>
      </td>
    </tr>
  </table>  
  <% end %>
</div>