<div id="containr">
  <div class="ramen-posts-container">
    <% @posts.each do |post| %>
      <div class="ramen-post-container">
        <%= link_to post_path(post) do %>
          <div class="image-container">
            <%= image_tag post.image.thumb.url, alt: "post-image", size: "250" %>
          </div>
          <div class="store-container">
            <%= post.store %>
          </div>
          <div class="prefecture-container">
            <%= post.prefecture %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

