.user-container {
  text-align: center;
}

.login-container {
  margin-top: 50px !important;
  padding-bottom: 25px !important;
}

.field {
  margin-top: 30px;
}

.entry-field {
  width: 360px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
}

.actions {
  margin-top: 30px;
  margin-bottom: 30px;

  .guest-login {
    background-color: #831519;
    padding: 10px 84px;
    color: #fff;
    border: 1px solid #A9A9A9;
    font-weight: bold;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
      background-color: #630e11;
    }
  }
}

.page-title {
  font-size: 40px;
  color: black;
  margin-bottom: 70px;
}

.entry-btn {
  margin-top: 25px;
  width: 360px;
  height: 35px;
  background-color: #185fee;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #A9A9A9;
  &:hover {
    background-color: #104cc4;
  }
}

.alert-success {
  width: 400px;
  margin: 0 auto;
  border-radius: 3px;
  margin: 50px auto;
}

#error_explanation {
  background-color: #F2DEDD;
  padding: 15px;
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  color: red;
  
  li {
    list-style: none;
    margin-bottom: 10px;
  }
}

.hr1 {
  width: 470px;
  margin-bottom: 30px;
}

.new-registrations-container {
  padding-bottom: 30px !important;
}

@media screen and (max-width: 991px) {
  .user-container {
    .entry-field {
      width: 300px;
    }
    .entry-btn {
      width: 300px;
      margin-top: 25px;
    }
    .guest-login {
      padding: 9px 54px;
    }
  }
}



// registrations/edit

.current-password-label {
  margin-bottom: 0 !important;
}

.field > h6 {
  margin-bottom: 0;
}

