// posts/new
#container {
  text-align: center;
}

.post-container {
  margin: 0 0 30px 0;
  background-color: #fff;
  width: 500px;
  border: 1px solid black;
  box-shadow: 0 0 8px black;
  color: black;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

#post_error_explanation > ul {
  padding-left: 0;
}

.page-title-post-new {
  background-color: #fff;
  color: black !important;
  height: 60px;
  text-align: center;
  font-size: 20px !important;
  line-height: 60px;
  font-weight: 700px !important;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  margin-bottom: 20px !important;
}

.page-title-post-new > hr {
  width: 470px;
  margin: 0 auto 0 auto !important;
}

.label-1 {
  display: block;
  position: relative;
  right: 150px;
}

.post-container select {
  height: 40px;
  border-color: #CED4D9;
  border-radius: 5px;
  background-color: #fff;
}

.fg-genre, .fg-prefecture {
  position: relative;
  right: 100px;
  > .label {
    display: block;
    padding-right: 70px;
  }
}

.label-2, .field_with_errors > .label-2 {
  display: block;
  padding-right: 70px;
}

#impression {
  height: 100px;
}

#image-select-btn {
  position: relative;
  right: 23px;
}

.post-image-prev {
  margin-top: 30px;
}

.post-container .btn-primary {
  margin: 40px auto;
  text-align: center;
}

#post_error_explanation {
  background-color: #fff !important;
  padding: 0;
  margin-bottom: 0;
  border: none;
}

#post_error_explanation li {
  list-style: none;
  color: red;
  font-weight: bold;
}

// posts/index

.ramen-posts-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ramen-post-container {
  background-color: #fff;
  width: 270px;
  height: auto;
  margin-top: 40px;
  border: 1px solid black;
  box-shadow: 0 0 8px black;
  border-radius: 5px;
  padding-bottom: 7px;
  &:hover {
    box-shadow: 0 0 20px black;
    background-color: #f0f0f0 !important;
  }
  > a {
    &:hover {
      text-decoration: none;
    }
  }

  .user-icon {
    margin: 10px 0 0 10px;
  }
  .post-user-name-container {
    display: inline;
    margin-left: 5px;
    position: relative;
    top: 7px;
    color: black;
  }
  .likes-upper {
    color: black;
    display: flex;
    margin-bottom: 8px;
    margin-left: 3px;
    > a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
    
    .fa-heart {
      color: #ff0202;
      display: inline-block;
      font-size: 15px;
    }
    .likes-count {
      display: inline;
      position: relative;
      top: 12px;
      left: 10px;
      font-size: 15px;
    }
  }
  .likes-lower {
    padding-left: 5px;
    color: black;
    text-align: left;
    display: flex;
    > a {
      padding-left: 5px;
    }
    > a:hover {
      text-decoration: none;
      background-color: #e0e0e0;
      border-radius: 5px;
      padding-left: 5px;
    }
    .like {
      display: inline;
      font-size: 15px;
    }
    .like-on {
      color: red;
      font-weight: bold;
    }
    .like-off {
      color: #5e6771;
    }
    
    .fa-grin-hearts {
      color: red;
      position: relative;
      top: 1px;
    }
    .fa-meh {
      color: #5e6771;
      position: relative;
      top: 1px;
    }
  }
}

.image-container {
  padding: 10px 0 0 10px;
}

.store-container, .prefecture-container {
  color: black;
  padding-left: 10px;
}

// posts/show

@media screen and (min-width: 992px) {
  .container-post-show {
    padding: 70px 0;
  }

  .ramen-post-show-container {
    width: 1151px;
    margin: 0 auto;
    box-shadow: 0 0 15px black;
    border: 1px solid black;
    height: 504px;
  }
}

.ramen-post-show-container {
  display: flex;
  justify-content: center;

  .ramen-post-show-container-1 {
    height: 502px;
    padding: 0;
  }

  .ramen-post-show-container-2 {
    background-color: #fff;
    height: 502px;
    width: 350px;
    color: black;
    padding-top: 13px;
    

    .ramen-post-show-container-2-upper {
      display: flex;
      justify-content: space-between;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .post-user-name-container {
        font-weight: bold;
      }
      .post-edit-link {
        font-size: 12px;
        position: relative;
        top: 15px;
        margin-right: 8px;
        > a {
          color: #8e8e8e;
          &:hover {
            color: #007bff;
          }
        }
      }
      .following, .to-follow {
        font-size: 15px;
        margin-right: 5px;
        position: relative;
        top: 10px;
        height: auto !important;
        background-color: #fff;
        border: none;
      }

      .to-follow {
        color: #831519;
      }
      *:focus {
        outline: none;
      }
    }

    .user-icon {
      margin: 10px 0 0 10px;
    }

    .post-user-name-container {
      display: inline;
      position: relative;
      top: 7px;
      padding: 0 10px;
      color: black;
    }

    hr {
      margin-top: 19px;
    }

    .ramen-post-show-container-2-lower {
      height: 410px;
      position: relative;

      .store-container {
        padding: 0 20px 10px 20px;
        font-size: 25px;
        font-weight: bold;
      }

      .prefecture-container {
        padding: 10px 20px;
      }

      .genre-container {
        padding: 10px 20px;
      }

      .image-container-responsive {
        display: none;
      }

      .ramen-container {
        padding: 10px 20px;
      }

      .between-r-i {
        margin-bottom: 0;
      }

      .impression-container {
        padding: 10px 20px;
      }

      .likes {
        position: absolute;
        bottom: 5px;
        padding-left: 7px;
      }
      .likes-upper {
        color: black;
        display: flex;
        margin-bottom: 8px;
        margin-left: 3px;
        > a {
          color: black;
          &:hover {
            text-decoration: none;
          }
        }
        
        .fa-heart {
          color: #ff0202;
          display: inline-block;
          font-size: 15px;
        }
        .likes-count {
          display: inline;
          position: relative;
          top: 12px;
          left: 10px;
          font-size: 15px;
        }
      }
      .likes-lower {
        padding-left: 5px;
        color: black;
        text-align: left;
        display: flex;
        flex-direction: row;
        > a {
          padding-left: 5px;
        }
        > a:hover {
          text-decoration: none;
          background-color: #e8e8e8;
          border-radius: 5px;
          padding-left: 5px;
        }
        .like {
          display: inline;
          font-size: 15px;
        }
        .like-on {
          color: red;
          font-weight: bold;
        }
        .like-off {
          color: #5e6771;
        }
        
        .fa-grin-hearts {
          color: red;
          position: relative;
          top: 1px;
        }
        .fa-meh {
          color: #5e6771;
          position: relative;
          top: 1px;
        }
      }
    }
  }
  .ramen-post-show-container-3 {
    background-color: #fff;
    height: 502px;
    width: 300px;
    color: black;
    padding-top: 10px;
    
    border-radius: 0 3px 3px 0;

    .ramen-post-show-container-3-upper {
      padding-top: 16px;

      p {
        font-size: 16px;
        text-align: left;
        padding-left: 15px;
      }
    
      > hr {
        margin: 16px 0;
        position: relative;
        top: 3px;
      }
    }

    .comment-index {
      height: 297px;
      overflow: auto;
      padding: 0 15px;
  

      .comment-list {
        margin: 8px 0 0 0;
        display: flex;

        .comment-user-name-container {
          display: inline-block;
          font-size: 14px;
          background-color: #eff2f5;
          padding: 5px 9px 4px 9px;
          border-radius: 12px;
          margin-left: 5px;
          > a:hover {
            text-decoration: none;
          }

          .comment-user-name {
            margin-bottom: 5px;
            font-size: 13px;
            font-weight: bold;
            color: black;
            
          }
        }
      }
    }
    .comment-destroy {
      padding-left: 38px;
      margin-bottom: 30px;
      padding-top: 3px;

      .fa-trash {
        color: #8e8e8e;
        display: block;
        font-size: 3px;
        position: static;
      }
    }

    .comment-create {
      width: 298px;
      height: 83px;
      text-align: center;

      textarea {
        width: 298px;
        height: 83px;
        border-radius: 0;
      }

      .btn-success {
        padding: 3px 5px;
        margin-top: 1px !important;
      }
    }
  }
}

// posts/edit

.post-destroy {
  padding-bottom: 40px;
  > a {
    color: #8e8e8e;
  }
}


@media screen and (max-width: 991px) {

  // posts/new

  .post-container {
    width: 335px;
    margin: 0 auto 30px auto;
  }

  .page-title-post-new > hr {
    width: 320px;
    margin: 0 auto 0 auto !important;
  }

  .post-container .form-control {
    width: 300px;
  }
  
  .post-container .label-1 {
    position: relative;
    right: 130px;
  }

  .post-container select {
    position: relative;
    left: 24px;
  }

  .label-2 {
   position: relative;
   left: 20px;
  }

  #image-select-btn {
    padding-left: 40px;
    display: block;
  }

  .post-container .btn-primary {
    width: 300px;
    margin-top: 30px;
  }

  // posts/index

  .ramen-posts-container {
    width: 375px;
    padding-bottom: 70px;
  }

  .ramen-post-container {
    margin: 20px auto;
    width: 320px;
    height: auto;

    .user-icon {
      margin-bottom: 13px;
    }

    .post-user-name-container {
      position: relative;
      top: 1px;
    }
    .likes-upper {
      .fas {
        position: relative;
        top: 12px;
        left: 7px;
      }
    }
  }

  .image-container > img {
    width: 300px;
    height: 300px;
  }
  // posts/show

  .container-post-show {
    height: auto;

  }

  .ramen-post-show-container {
    display: block;
    padding: 0;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 8px black !important;
    width: 352px;
    margin: 0 auto;
    
    .ramen-post-show-container-1 {
      display: none;
    }

    .ramen-post-show-container-2 {
      margin: 0 auto;
      height: auto;
      border-bottom: none;

      .ramen-post-show-container-2-lower {
        top: 1px;
        height: auto;

        .prefecture-container {
          padding-top: 0;
        }

        .genre-container {
          padding: 0 20px 10px 20px;
        }

        .image-container-responsive {
          width: 300px;
          display: block;
          margin: auto;
          
          > img {
            text-align: center;
            width: 300px;
            height: 300px;
            margin: 0 auto;
          }
        }

        .ramen-container {
          padding: 10px 20px 2px 20px;
        }

        .between-r-i {
          margin-top: 10px;
        }

        .likes {
          position: static;
          padding-bottom: 10px;
          .likes-upper {
            .fas {
             position: relative;
             top: 12px;
             left: 7px;
            }
          }
        }
      }
    }
    .ramen-post-show-container-3 {
      width: 350px;
      height: auto;
      margin: 0 auto;
      border: none;
      border-radius: 0;
      border-top: 1px solid #e5e5e5;
      .comment-index {
        height: auto;
        width: 350px;
      }
      .comment-create {
        height: auto;
        width: 350px;
        padding-bottom: 15px;
        textarea {
          width: 348px;
          margin: 0 auto !important;
        }
        .btn-success {
          margin-top: 15px !important;
          padding:  6px 15px !important;
        }
        
      }
    }
  }
}

