// posts/new
#container {
  text-align: center;
}

.post-container {
  margin: 0 0 30px 0;
  background-color: #fff;
  width: 500px;
  border: 1px solid black;
  box-shadow: 0 0 8px black;
  color: black;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

#post_error_explanation > ul {
  padding-left: 0;
}

.page-title-post-new {
  background-color: #fff;
  color: black !important;
  height: 60px;
  text-align: center;
  font-size: 20px !important;
  line-height: 60px;
  font-weight: 700px !important;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  margin-bottom: 20px !important;
}

.page-title-post-new > hr {
  width: 470px;
  margin: 0 auto 0 auto !important;
}

.label-1 {
  display: block;
  position: relative;
  right: 150px;
}

.post-container select {
  height: 40px;
  border-color: #CED4D9;
  border-radius: 5px;
  background-color: #fff;
}

.fg-genre, .fg-prefecture {
  position: relative;
  right: 100px;
  > .label {
    display: block;
    padding-right: 70px;
  }
}

.label-2, .field_with_errors > .label-2 {
  display: block;
  padding-right: 70px;
}

#impression {
  height: 100px;
}

#image-select-btn {
  position: relative;
  right: 23px;
}

.post-container .btn-primary {
  margin: 40px auto;
  text-align: center;
}

#post_error_explanation {
  background-color: #fff !important;
  padding: 0;
  margin-bottom: 0;
  border: none;
}

#post_error_explanation li {
  list-style: none;
  color: red;
  font-weight: bold;
}

// posts/index

.ramen-posts-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ramen-post-container {
  background-color: #fff;
  width: 270px;
  height: 365px;
  margin-top: 40px;
  border: 1px solid black;
  box-shadow: 0 0 8px black;
  border-radius: 5px;
  > a {
    &:hover {
      text-decoration: none;
    }
  }

  .user-icon {
    margin: 10px 0 0 10px;
  }
  .post-user-name-container {
    display: inline;
    margin-left: 5px;
    position: relative;
    top: 7px;
    color: black;
  }
}

.image-container {
  padding: 10px 0 0 10px;
}

.store-container, .prefecture-container {
  color: black;
  padding-left: 10px;
}

// posts/show

.ramen-post-show-container {
  display: flex;
  justify-content: center;
  padding: 70px 0;

  .ramen-post-show-container-1 {
    height: 502px;
    padding: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: -1px 0 8px black;
  }

  .ramen-post-show-container-2 {
    background-color: #fff;
    height: 502px;
    width: 350px;
    color: black;
    padding-top: 13px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 0 8px black;
    > a {
      &:hover {
        text-decoration: none;
      }
    }

    .user-icon {
      margin: 10px 0 0 10px;
    }

    .post-user-name-container {
      display: inline;
      position: relative;
      top: 7px;
      padding: 0 10px;
      color: black;
    }

    hr {
      margin-top: 19px;
    }

    .details-container {

      .store-container {
        padding: 0 20px 10px 20px;
        font-size: 25px;
        font-weight: bold;
      }

      .prefecture-container {
        padding: 10px 20px;
      }

      .genre-container {
        padding: 10px 20px;
      }

      .ramen-container {
        padding: 10px 20px;
      }

      .between-r-i {
        margin-bottom: 0;
      }

      .impression-container {
        padding: 10px 20px;
      }
    }
  }

}


@media screen and (max-width: 991px) {

  // posts/new

  .post-container {
    width: 335px;
    margin: 0 auto 30px auto;
  }

  .page-title-post-new > hr {
    width: 320px;
    margin: 0 auto 0 auto !important;
  }

  .post-container .form-control {
    width: 300px;
  }
  
  .post-container .label-1 {
    position: relative;
    right: 130px;
  }

  .post-container select {
    position: relative;
    left: 24px;
  }

  .label-2 {
   position: relative;
   left: 20px;
  }

  #image-select-btn {
    position: relative;
    left: 3px;
    display: block;
  }

  .post-container .btn-primary {
    width: 300px;
    margin-top: 30px;
  }

  // posts/index

  .ramen-posts-container {
    width: 375px;
    padding-bottom: 70px;
  }

  .ramen-post-container {
    margin: 20px auto;
    width: 320px;
    height: 400px;
  }

  .image-container > img {
    width: 300px;
    height: 300px;
  }
}

