// posts/new
#container {
  text-align: center;
}

.post-container {
  margin: 0 0 30px 0;
  background-color: #fff;
  width: 500px;
  border: 1px solid black;
  box-shadow: 0 0 8px black;
  color: black;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

#post_error_explanation > ul {
  padding-left: 0;
}

.page-title-post-new {
  background-color: #fff;
  color: black !important;
  height: 60px;
  text-align: center;
  font-size: 20px !important;
  line-height: 60px;
  font-weight: 700px !important;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  margin-bottom: 20px !important;
}

.page-title-post-new > hr {
  width: 470px;
  margin: 0 auto 0 auto !important;
}

.label-1 {
  display: block;
  position: relative;
  right: 150px;
}

.post-container select {
  height: 40px;
  border-color: #CED4D9;
  border-radius: 5px;
  background-color: #fff;
}

.fg-genre, .fg-prefecture {
  position: relative;
  right: 100px;
  > .label {
    display: block;
    padding-right: 70px;
  }
}

.label-2, .field_with_errors > .label-2 {
  display: block;
  padding-right: 70px;
}

#impression {
  height: 100px;
}

#image-select-btn {
  position: relative;
  right: 23px;
}

.post-container .btn-primary {
  margin: 40px auto;
  text-align: center;
}

#post_error_explanation {
  background-color: #fff !important;
  padding: 0;
  margin-bottom: 0;
  border: none;
}

#post_error_explanation li {
  list-style: none;
  color: red;
  font-weight: bold;
}

// posts/index

.ramen-posts-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 70px;
}

.ramen-post-container {
  background-color: #fff;
  width: 270px;
  height: 310px;
  margin-top: 40px;
  > a {
    &:hover {
      text-decoration: none;
    }
  }
}

.image-container {
  padding: 10px 0 0 10px;
}

.store-container, .prefecture-container {
  color: black;
  padding-left: 10px;
}


@media screen and (max-width: 991px) {

  // posts/new

  .post-container {
    width: 335px;
    margin: 0 auto 30px auto;
  }

  .page-title-post-new > hr {
    width: 320px;
    margin: 0 auto 0 auto !important;
  }

  .post-container .form-control {
    width: 300px;
  }
  
  .post-container .label-1 {
    position: relative;
    right: 130px;
  }

  .post-container select {
    position: relative;
    left: 24px;
  }

  .label-2 {
   position: relative;
   left: 20px;
  }

  #image-select-btn {
    position: relative;
    left: 3px;
    display: block;
  }

  .post-container .btn-primary {
    width: 300px;
    margin-top: 30px;
  }

  // posts/index

  .ramen-posts-container {
    width: 375px;
    padding-bottom: 70px;
  }

  .ramen-post-container {
    margin: 20px auto;
    width: 320px;
    height: 370px;
  }

  .image-container > img {
    width: 300px;
    height: 300px;
  }
}

