.show-user-name {
  font-size: 30px;
}

.page-title {
  font-size: 2rem;
}

.account-edit {
  width: 230px;
  height: 35px;
  background-color: #FD9534;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #F77402;
  margin: 50px auto 0 auto;
}

@media screen and (min-width: 992px) {
  .account-edit {
    background-color: #FDAA62;
    &:hover {
      background-color: #FD9534;
    }
  }
}

.user-edit-btn {
  text-decoration: none;
  vertical-align: middle;
  margin-top: 50px;
  &:hover {
    text-decoration: none;
  }
}

// users/edit

.page-title-users {
  
  color: black !important;
  height: 60px;
  font-size: 20px !important;
  line-height: 60px;
  font-weight: 700px !important;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  margin-bottom: 40px !important;
  > hr {
    width: 470px;
    margin: 0 auto 0 auto !important;
  }
}

.form-group {
  display: block;
  margin-top: 30px;
}

.form-control {
  width: 350px;
  margin: 0 auto;
}

#user_introduction {
  height: 150px;
}

.user-icon {
  border-radius: 100px;
}

.btn-outline-secondary {
  width: 200px;
  font-size: 7px;
  border-color: #22110e;
  background-color: #dcdcdc;
}

@media screen and (max-width: 991px) {
  .btn-outline-secondary {
    margin-top: 30px;
  }
}

.image-select-btn {
  width: 180px;
  color: #22110e;
}

.user-container {
  margin: 0 0 30px 0;
  background-color: #fff;
  width: 500px;
  border: 1px solid black;
  box-shadow: 0 0 8px black;
  color: black;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.user-name {
  width: 350px;
  font-size: 25px;
  margin: 50px auto 0 auto;
}

.user-email {
  width: 350px;
  margin: 40px auto 0 auto;
}

.user-introduction {
  width: 350px;
  margin: 40px auto 0 auto;
}

.btn-primary {
  margin-top: 30px;
  width: 350px;
}

.acount-destroy {
  margin: 40px 0;
  > a {
    color: #8e8e8e;
    &:hover {
      color: #007bff;
    }
  }
}





// users/index

table {
  width: 350px;
  margin: 40px auto 30px auto;
}

tr {
  margin-bottom: 20px;
}

.td-user-icon {
  text-align: left;
  width: 100px;
}

.td-user-name {
  text-align: left;
}

.index-user-name {
  color: #fff;
  font-size: 1.3rem;
  &:hover {
    text-decoration: none;
  }
  text-decoration: none;
}



  